.content {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    padding: 1em;
    background-color: #ff6347eb;
    border-style: dashed;
    font-family: Georgia, "Times New Roman", Times, serif;
    p {
        font-size: 34px;
        font-weight: bold;
    }
    &-stars {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-comic {
        display: flex;
        flex-direction: column;
        &-title {
            display: flex;
            justify-content: center;
        }
    }
}
